drawio/src/main/webapp/stencils/stencils.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2006 rel. 3 U (http://www.altova.com) by Eric Feron (GMS (Carrefour Belgium) SA/NV) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="shapes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="shape" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="shape">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="connections" minOccurs="0"/>
				<xs:element name="background" type="InstructionListType" minOccurs="0"/>
				<xs:element name="foreground" type="InstructionListType" minOccurs="0"/>
				<xs:element name="customproperties" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="customproperty" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="name" type="xs:token" use="required"/>
									<xs:attribute name="value" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="w" type="xs:decimal" use="optional" default="100"/>
			<xs:attribute name="h" type="xs:decimal" use="optional" default="100"/>
			<xs:attribute name="aspect" use="optional" default="variable">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="variable"/>
						<xs:enumeration value="fixed"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="strokewidth" type="xs:string" use="optional" default="1"/>
			<xs:attribute name="type" use="optional">
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="shape"/>
						<xs:enumeration value="edge"/>
						<xs:enumeration value="image"/>
						<xs:enumeration value="swimlane"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="connections">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="constraint" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="constraint">
		<xs:complexType>
			<xs:attribute name="perimeter" type="xs:integer" use="required"/>
			<xs:attribute name="x" type="xs:decimal" use="required"/>
			<xs:attribute name="y" type="xs:decimal" use="required"/>
			<xs:attribute name="name" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="InstructionListType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="save"/>
			<xs:element name="restore"/>
			<xs:element name="path" type="PathType"/>
			<xs:element ref="rect"/>
			<xs:element ref="roundrect"/>
			<xs:element ref="swimlane"/>
			<xs:element ref="ellipse"/>
			<xs:element ref="text"/>
			<xs:element ref="image"/>
			<xs:element ref="include-shape"/>
			<xs:element name="fill"/>
			<xs:element name="stroke"/>
			<xs:element name="fillstroke"/>
			<xs:element name="strokecolor" type="ColorType"/>
			<xs:element name="fillcolor" type="ColorType"/>
			<xs:element name="fontcolor" type="ColorType"/>
			<xs:element ref="alpha"/>
			<xs:element ref="strokewidth"/>
			<xs:element ref="dashed"/>
			<xs:element ref="dashpattern"/>
			<xs:element ref="miterlimit"/>
			<xs:element ref="linejoin"/>
			<xs:element ref="linecap"/>
			<xs:element ref="fontsize"/>
			<xs:element ref="fontstyle"/>
			<xs:element ref="fontfamily"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ColorType">
		<xs:attribute name="color" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="PathType">
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="move"/>
			<xs:element ref="line"/>
			<xs:element ref="quad"/>
			<xs:element ref="curve"/>
			<xs:element ref="arc"/>
			<xs:element name="close"/>
		</xs:choice>
		<xs:attribute ref="crisp" use="optional"/>
	</xs:complexType>
	<xs:element name="move">
		<xs:complexType>
			<xs:attribute name="x" type="xs:decimal" use="required"/>
			<xs:attribute name="y" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="line">
		<xs:complexType>
			<xs:attribute name="x" type="xs:decimal" use="required"/>
			<xs:attribute name="y" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="quad">
		<xs:complexType>
			<xs:attribute name="x1" type="xs:decimal" use="required"/>
			<xs:attribute name="y1" type="xs:decimal" use="required"/>
			<xs:attribute name="x2" type="xs:decimal" use="required"/>
			<xs:attribute name="y2" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="curve">
		<xs:complexType>
			<xs:attribute name="x1" type="xs:decimal" use="required"/>
			<xs:attribute name="y1" type="xs:decimal" use="required"/>
			<xs:attribute name="x2" type="xs:decimal" use="required"/>
			<xs:attribute name="y2" type="xs:decimal" use="required"/>
			<xs:attribute name="x3" type="xs:decimal" use="required"/>
			<xs:attribute name="y3" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="arc">
		<xs:complexType>
			<xs:attribute name="rx" type="xs:decimal" use="required"/>
			<xs:attribute name="ry" type="xs:decimal" use="required"/>
			<xs:attribute name="x-axis-rotation" type="xs:decimal" use="required"/>
			<xs:attribute name="large-arc-flag" type="xs:decimal" use="required"/>
			<xs:attribute name="sweep-flag" type="xs:decimal" use="required"/>
			<xs:attribute name="x" type="xs:decimal" use="required"/>
			<xs:attribute name="y" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="rect">
		<xs:complexType>
			<xs:attribute ref="crisp" use="optional"/>
			<xs:attribute name="x" type="xs:decimal" use="required"/>
			<xs:attribute name="y" type="xs:decimal" use="required"/>
			<xs:attribute name="w" type="xs:decimal" use="required"/>
			<xs:attribute name="h" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="swimlane">
		<xs:complexType>
			<xs:attribute ref="crisp" use="optional"/>
			<xs:attribute name="x" type="xs:decimal" use="required"/>
			<xs:attribute name="y" type="xs:decimal" use="required"/>
			<xs:attribute name="w" type="xs:decimal" use="required"/>
			<xs:attribute name="h" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="roundrect">
		<xs:complexType>
			<xs:attribute ref="crisp" use="optional"/>
			<xs:attribute name="x" type="xs:decimal" use="required"/>
			<xs:attribute name="y" type="xs:decimal" use="required"/>
			<xs:attribute name="w" type="xs:decimal" use="required"/>
			<xs:attribute name="h" type="xs:decimal" use="required"/>
			<xs:attribute name="arcsize" type="xs:decimal" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ellipse">
		<xs:complexType>
			<xs:attribute name="x" type="xs:decimal" use="required"/>
			<xs:attribute name="y" type="xs:decimal" use="required"/>
			<xs:attribute name="w" type="xs:decimal" use="required"/>
			<xs:attribute name="h" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="text">
		<xs:complexType>
			<xs:attribute name="str" type="xs:string" use="required"/>
			<xs:attribute name="x" type="xs:decimal" use="required"/>
			<xs:attribute name="y" type="xs:decimal" use="required"/>
			<xs:attribute name="align" type="xs:string" use="optional" default="left"/>
			<xs:attribute name="valign" type="xs:string" use="optional" default="top"/>
			<xs:attribute name="localized" type="xs:integer" use="optional" default="0"/>
			<xs:attribute name="vertical" type="xs:integer" use="optional" default="0"/>
			<xs:attribute name="rotation" type="xs:decimal" use="optional" default="0"/>
			<xs:attribute name="align-shape" type="xs:integer" use="optional" default="1"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="image">
		<xs:complexType>
			<xs:attribute name="src" type="xs:string" use="required"/>
			<xs:attribute name="x" type="xs:decimal" use="required"/>
			<xs:attribute name="y" type="xs:decimal" use="required"/>
			<xs:attribute name="w" type="xs:decimal" use="required"/>
			<xs:attribute name="h" type="xs:decimal" use="required"/>
			<xs:attribute name="flipH" type="xs:integer" use="optional" default="0"/>
			<xs:attribute name="flipV" type="xs:integer" use="optional" default="0"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="include-shape">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="x" type="xs:decimal" use="required"/>
			<xs:attribute name="y" type="xs:decimal" use="required"/>
			<xs:attribute name="w" type="xs:decimal" use="required"/>
			<xs:attribute name="h" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="alpha">
		<xs:complexType>
			<xs:attribute name="alpha" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="strokewidth">
		<xs:complexType>
			<xs:attribute name="width" type="xs:decimal" use="required"/>
			<xs:attribute name="fixed" type="xs:integer" use="optional" default="0"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dashed">
		<xs:complexType>
			<xs:attribute name="dashed" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dashpattern">
		<xs:complexType>
			<xs:attribute name="pattern" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="miterlimit">
		<xs:complexType>
			<xs:attribute name="limit" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="linejoin">
		<xs:complexType>
			<xs:attribute name="join" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="miter"/>
						<xs:enumeration value="round"/>
						<xs:enumeration value="bevel"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="linecap">
		<xs:complexType>
			<xs:attribute name="cap" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="flat"/>
						<xs:enumeration value="square"/>
						<xs:enumeration value="round"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="fontsize">
		<xs:complexType>
			<xs:attribute name="size" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fontstyle">
		<xs:complexType>
			<xs:attribute name="style" type="xs:integer" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="fontfamily">
		<xs:complexType>
			<xs:attribute name="family" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:attribute name="crisp">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:attribute>
</xs:schema>
